.DS_Store
core/algorithms/ImagingAlgorithms/.DS_Store
build*
*.user
*.user.4.8-pre1
*.user.4.9-pre1
*.user.4.10-pre1
*.stash
*.o
*~
*.autosave
*.in
*.pc
.DS-Store
.ipynb_checkpoints
*.sym
*.aux
*.bbl
*.blg
*.log
*.toc
*.pdf
*.synctex.gz
CMakeCache.txt
CMakeFiles
_deps
*.png
moc_*
*.moc
