# This file contains definitions required to fill out the
# Info.plist of the NeXus package.  It is sourced as part
# of bin/makepkg.sh during build_mac_kit.sh
PACKAGE="NeXus"
BUNDLE="org.nexusformat.napi"
COPYRIGHT="NeXus International Advisory Committee"
YEAR="1999-`date +%Y`"
AuthorizationAction="AdminAuthorization"
InstallFat="true"
BackgroundAlignment="bottomleft"

# The following grabs VERSION=x.y and RELEASE=.z
nx_version=@PACKAGE_VERSION@
RELEASE=.${nx_version#*.*.}
VERSION=${nx_version%.*}
